@use 'utils/colors';

:host {
	height: 100%;
}

.app-sidenav {
	display: flex;
	justify-content: flex-start;
	flex-flow: column nowrap;
	height: 100%;
}

.logo {
	display: none;
}

.list {
	list-style: none;
	padding: 0px;
	margin: 50px 130px 0px 31px;
}

.list-link {
	border-radius: 30px;
	padding: 8px 13px;
	margin-bottom: 19px;
	text-decoration: none;
	color: colors.$white;
	font-family: Roboto;
	font-weight: 500;
	font-style: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: center;

	&.active {
		background-color: colors.$purple;
	}
}

@media only screen and (min-width: 800px) {
	.logo {
		padding: 25px 90px 0px 30px;
		display: block;
	}

	.list {
		margin: 77px 120px 0px 31px;
	}
}
