<ng-container *ngIf="reviews; else showTemplate">
	<article>
		<ng-container *ngFor="let review of reviews">
			<mat-card class="show-review">
				<p class="show-rating">
					Rating:
					<span>
						<app-rating [rating]="review.rating"></app-rating>
					</span>
				</p>
				<app-comment [comment]="review.comment"></app-comment>
			</mat-card>
		</ng-container>
	</article>
</ng-container>

<ng-template #showTemplate>
	<mat-card class="show-review no-reviews">
		<h1>No reviews yet!</h1>
	</mat-card>
</ng-template>
