@use 'utils/colors';

.dropzone {
	border-radius: 24px;
	display: table;
	cursor: pointer;
}

.dropzone-small {
	width: 270px;
	height: 270px;

	background-image: url('/assets/Images/background-small.svg');
}

.dropzone-large {
	width: 600px;
	height: 400px;

	background-image: url('/assets/Images/background-large.svg');
}

.file-input {
	opacity: 0px;
	width: 0px;
	height: 0px;
}
