:host {
	display: inline-block;
}

article {
	margin-left: 10px;
}

.show-card {
	padding: 0;
	margin: 16px;
	border-radius: 24px;
	overflow: hidden;
}

img {
	width: 240px;
	height: 300px;
	object-fit: cover;
}

.show-rating {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	flex-flow: row nowrap;
}
