<ng-container *ngIf="layout$ | async as layout">
	<article class="review">
		<mat-card [class]="layout.isSmall ? 'show-review show-review-small' : 'show-review show-review-large'">
			<article [class]="layout.isSmall ? 'user-info user-info-small' : 'user-info user-info-large'">
				<div *ngIf="!imageUrl; else userImage" class="user-image">
					<mat-icon class="image">person</mat-icon>
				</div>
				<div class="show-rating">
					<p>{{ email }}</p>
					<app-stars [rating]="rating"></app-stars>
				</div>
			</article>
			<app-comment [class]="layout.isSmall ? 'comment-small' : 'comment-large'" [comment]="comment"></app-comment>
		</mat-card>
	</article>
</ng-container>

<ng-template #userImage>
	<div class="user-image">
		<img class="image" src="{{ imageUrl }}" alt="no image" />
	</div>
</ng-template>
