<ng-container *ngIf="layout$ | async as layout">
	<div class="wrapper">
		<article [class]="layout.isSmall ? 'review review-small' : 'review review-large'">
			<mat-card [class]="layout.isSmall ? 'show-review show-review-small' : 'show-review show-review-large'">
				<article [class]="layout.isSmall ? 'user-info user-info-small' : 'user-info user-info-large'">
					<div *ngIf="!imageUrl; else userImage" class="user-image">
						<mat-icon class="image">person</mat-icon>
					</div>
					<div class="show-rating">
						<p>{{ email }}</p>
						<app-stars [rating]="rating"></app-stars>
					</div>
				</article>
				<app-comment [class]="layout.isSmall ? 'comment-small' : 'comment-large'" [comment]="comment"></app-comment>
			</mat-card>
			<ng-container *ngIf="currentUserId$ | async as user">
				<button *ngIf="user === userId" class="menu" mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="onDeleteReview($event)">
						<mat-icon>delete</mat-icon>
						<span>DELETE</span>
					</button>
				</mat-menu>
			</ng-container>
		</article>
	</div>
</ng-container>

<ng-template #userImage>
	<div class="user-image">
		<img class="image" src="{{ imageUrl }}" alt="no image" />
	</div>
</ng-template>
