:root {
	--heading-color: #f7fd04;
	--bg-color: #878e88;
	--bg-show-color: #fdf5d0;
	--hover-button: #f9b208;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	background-color: var(--bg-color);
	margin: 2em 0em 2em 0em;
}

#main-app {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

#show-app {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	margin: 1em 0 1em 0;
}

#show-information {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 70%;
	margin-top: 1em;
	background-color: var(--bg-show-color);
	padding: 0.8em 0.8em;
	border-radius: 1em;
}

#show-app h1 {
	color: var(--heading-color);
}

#show-information img {
	grid-area: image;
}

#main-app img {
	min-width: 50%;
	object-fit: contain;
}

#user-input {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 1em 0 1em 0;
}

#user-input textarea {
	cursor: text;
	width: 500px;
	height: 100px;
	border: solid 0.2rem grey;
	padding: 0.3rem 0.3rem;
}

#review-form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 1em;
	margin-bottom: 5em;
}

#review-form article {
	margin-top: 1em;
}

#review-form input {
	border-radius: 30%;
	width: 2.5em;
	text-align: center;
	cursor: text;
	background-color: var(--bg-show-color);
	margin: 0em 1em 0em 1em;
}

#review-form button {
	border-radius: 25%;
	width: 4em;
	height: 2em;
	background-color: var(--heading-color);
}

#review-form button:hover {
	background-color: var(--hover-button);
}

#review-items li {
	list-style-type: none;
	background-color: var(--bg-show-color);
	border-radius: 5%;
	width: 30em;
	height: 5em;
	margin-top: 2em;
}

#review-items li p {
	padding: 0.5em;
}

@media only screen and (max-width: 768px) {
	#show-information {
		flex-flow: row wrap;
	}
}
