<mat-card>
	<form [formGroup]="userLoginFormGroup">
		<mat-form-field appearance="outline">
			<mat-label>Enter email</mat-label>
			<input matInput placeholder="Placeholder" formControlName="email" />
			<mat-icon matPrefix>person</mat-icon>
			<mat-error *ngIf="userLoginFormGroup.get('email')?.errors?.required">Username is reqiered</mat-error>
			<mat-error *ngIf="userLoginFormGroup.get('email')?.errors?.email">Username must be valid email</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Enter password</mat-label>
			<input matInput placeholder="Placeholder" formControlName="password" />
			<mat-icon matPrefix>lock</mat-icon>
			<mat-hint>Hint</mat-hint>
		</mat-form-field>
	</form>
</mat-card>
