<mat-card class="rating-card">
	<p class="review">Reviews</p>
	<form [formGroup]="writeRatingFormGroup">
		<mat-form-field class="rating-field" appearance="fill">
			<textarea
				matInput
				type="textarea"
				formControlName="comment"
				placeholder="Enter review"
				#autosize="cdkTextareaAutosize"
				cdkTextareaAutosize
				cdkAutosizeMinRows="1"
				cdkAutosizeMaxRows="5"
			></textarea>
			<mat-error *ngIf="writeRatingFormGroup.controls.comment.hasError('required')">Comment is required</mat-error>
		</mat-form-field>
		<article class="rating-post">
			<div class="rating">
				<span>Rating</span>
				<app-star-rating (currentRating)="writeRatingFormGroup.get('rating')?.setValue($event)"></app-star-rating>
			</div>
			<div
				class="has-error"
				*ngIf="writeRatingFormGroup.controls.rating.hasError('required') && writeRatingFormGroup.touched"
			>
				Rating required
			</div>

			<div class="on-submit-button">
				<button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="writeRatingFormGroup.invalid">
					Submit
				</button>
			</div>
		</article>
	</form>
</mat-card>
