:host {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

mat-card {
	width: 100%;
}

form {
	display: flex;
	flex-flow: column wrap;
}

.on-submit-button {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.rating {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.has-error {
	font-size: 10px;
	color: red;
}
