<ng-container *ngIf="layout$ | async as layout">
	<article [class]="layout.isSmall ? 'rating-card rating-card-small' : 'rating-card rating-card-large'">
		<p class="review">Reviews</p>
		<form [formGroup]="writeRatingFormGroup">
			<div [class]="layout.isSmall ? 'comment comment-small' : 'comment comment-large'">
				<input
					[class]="layout.isSmall ? 'comment-input comment-input-small' : 'comment-input comment-input-large'"
					id="comment"
					type="text"
					name="comment"
					placeholder="Enter review"
					formControlName="comment"
				/>
			</div>

			<article class="rating-post">
				<div [class]="layout.isSmall ? 'rating' : 'rating rating-large'">
					<span>Rating</span>
					<app-star-rating (currentRating)="writeRatingFormGroup.get('rating')?.setValue($event)"></app-star-rating>
				</div>

				<div class="on-submit-button">
					<button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="writeRatingFormGroup.invalid">
						Submit
					</button>
				</div>
			</article>
			<div class="has-error">
				<div
					*ngIf="
						writeRatingFormGroup.controls.comment.hasError('required') && writeRatingFormGroup.controls.comment.touched
					"
				>
					Comment required
				</div>
				<div
					*ngIf="
						writeRatingFormGroup.controls.rating.hasError('required') &&
						writeRatingFormGroup.controls.rating.untouched &&
						writeRatingFormGroup.touched
					"
				>
					Rating required
				</div>
			</div>
		</form>
	</article>
</ng-container>
