<mat-card>
	<form [formGroup]="userRegistrationFormGroup">
		<mat-form-field appearance="outline">
			<mat-label>Enter email</mat-label>
			<input type="email" matInput placeholder="Placeholder" formControlName="email" />
			<mat-icon matPrefix>person_add</mat-icon>
			<mat-error *ngIf="userRegistrationFormGroup.get('email')?.errors?.required">Username is reqiered</mat-error>
			<mat-error *ngIf="userRegistrationFormGroup.get('email')?.errors?.email">Username must be valid email</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Enter password</mat-label>
			<input type="password" matInput placeholder="Placeholder" formControlName="password" />
			<mat-icon matPrefix>lock</mat-icon>
			<mat-hint>Hint</mat-hint>
			<mat-error *ngIf="userRegistrationFormGroup.get('password')?.errors?.required">Password is requiered</mat-error>
			<mat-error *ngIf="!userRegistrationFormGroup.get('password')?.errors?.minLength"
				>Password must be min 8 characters long</mat-error
			>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Repeat password</mat-label>
			<input type="password" matInput placeholder="Placeholder" formControlName="passwordConfirm" />
			<mat-icon matPrefix>lock</mat-icon>
			<mat-hint>Hint</mat-hint>
			<mat-error *ngIf="userRegistrationFormGroup.get('passwordConfirm')?.errors?.required"
				>Password is requiered</mat-error
			>
			<mat-error *ngIf="!userRegistrationFormGroup.get('passwordConfirm')?.errors?.minLength"
				>Password must be min 8 characters long</mat-error
			>
		</mat-form-field>
		<mat-error *ngIf="userRegistrationFormGroup.errors?.passwordError">Passwords do not match</mat-error>
	</form>

	<button mat-raised-button (click)="onUserRegister()" [disabled]="userRegistrationFormGroup.invalid">Register</button>
	<p>Already have an account? <a [routerLink]="'/login'">Login</a></p>
</mat-card>
