<mat-card class="registration-card">
	<app-logo></app-logo>
	<form class="form" [formGroup]="userRegistrationFormGroup">
		<mat-form-field class="email" appearance="outline">
			<mat-label>Enter email</mat-label>
			<input type="email" matInput placeholder="Placeholder" formControlName="email" />
			<mat-icon matPrefix>person_add</mat-icon>
			<mat-error *ngIf="userRegistrationFormGroup.controls.email.hasError('required')">Username is reqiered</mat-error>
			<mat-error *ngIf="userRegistrationFormGroup.controls.email.hasError('email')"
				>Username must be valid email</mat-error
			>
		</mat-form-field>

		<mat-form-field class="password" hintLabel="At least 8 characters" appearance="outline">
			<mat-label>Enter password</mat-label>
			<input type="password" matInput placeholder="Placeholder" formControlName="password" />
			<mat-icon matPrefix>lock</mat-icon>
			<mat-error *ngIf="userRegistrationFormGroup.controls.password.hasError('required')"
				>Password is requiered</mat-error
			>
			<mat-error *ngIf="userRegistrationFormGroup.controls.password.hasError('minlength')"
				>Password must be min 8 characters long</mat-error
			>
		</mat-form-field>

		<mat-form-field class="password" appearance="outline">
			<mat-label>Repeat password</mat-label>
			<input
				type="password"
				matInput
				[errorStateMatcher]="matcher"
				placeholder="Placeholder"
				formControlName="passwordConfirm"
			/>
			<mat-icon matPrefix>lock</mat-icon>
			<mat-error *ngIf="userRegistrationFormGroup.hasError('passwordValidationError')"
				>Passwords do not match</mat-error
			>
		</mat-form-field>
	</form>

	<div class="register-button">
		<button mat-raised-button color="primary" (click)="onUserRegister()" [disabled]="userRegistrationFormGroup.invalid">
			Sign up
		</button>
	</div>
	<p class="no-login">Already have an account? <a class="login" routerLink="/login">Login</a></p>
</mat-card>
